html, body, h1, h2, h3, h4, h5, h6, p, a, button {
    font-family: 'Jost', sans-serif!important;
}
.text-primary{
	color: #003399!important;
}
.bg-primary{
	background-color: #003399!important;
}
a.navbar-brand i{
	color: #4766fb;
}
a.navbar-brand span{
	color: #00ccff;
}
.navbar-nav a.nav-link{
	font-weight: 700;
	color: #003399!important;
}
.navbar-nav a.nav-link > i{
	transition: all ease .3s;
	opacity: 0;
}
.navbar-nav a.nav-link.active,
.navbar-nav a.nav-link:hover{
	transition: all ease .3s;
	color: #00ccff!important;
}
.navbar-nav a.nav-link:hover > i:first-child,
.navbar-nav a.nav-link.active > i:first-child{
	opacity: 1;
	color: #003399!important;
	padding-right: 5px;
}
.navbar-nav a.nav-link:hover > i:last-child,
.navbar-nav a.nav-link.active > i:last-child{
	opacity: 1;
	color: #003399!important;
	padding-left: 5px;
}
main#main{
	margin-top: 66px;
}
main section#hero{
	height: calc(100vh - 66px);
}
.btn-link-porto{
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 100px;
    margin-left: -50px;
}
#filters button.is-checked {
    background: #003399;
    color: #ffffff;
    border-color: #003399;
}
.link-tools{
	position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgb(255 255 255 / 80%);
    opacity: 0;
}
.link-tools > .button-group{
	display: flex;
	justify-content: center;
	height: 100%;
	align-items: center;
}
.link-tools > .button-group > a{
	margin: 5px;
}
.portofolio-item-wrapper > img,
.portofolio-item-wrapper > .link-tools{
	transition: all ease .3s;
}
.portofolio-item-wrapper:hover > img {
    transform: scale(1.5);
}
.portofolio-item-wrapper:hover > .link-tools{
	opacity: 1;
}
